@import '../../../mixin.scss';

.AccountBook {
    @include container;
    @include flex-container(column, '', '');
    padding: 1.5rem 3rem;
    box-sizing: border-box;
    gap: 1.5rem;
    overflow: auto;
    @include respond('phone') {
        padding: .5rem 1.2rem;
        gap: .6rem;
    }
    @include respond('pad') {
        padding: 1rem 1rem;
    }

    .last_books {
        @include flex-container(column, '', '');
        gap: .6rem;

        .title {
            display: flex;
            align-items: center;
            font: 500 1.5rem 'Roboto', sans-serif;
            cursor: pointer;
            color: #666699;
            @include respond('mobile') {
                font-size: 1.2rem;
            }
        }
        .last_books_main {
            height: 12rem;
            @include flex-container(row, '', center);
            gap: 1rem;
            // background: #39c5bb;
            transition: all .5s;
            // overflow: hidden;
            overflow-x: auto;
            @include respond('phone') {
                height: 10rem;
                // padding: 0 1.5rem;
                box-sizing: border-box;
                gap: .8rem;
                // justify-content: center;
            }
            &.folded {
                height: 0;
                // opacity: 0;
            }
        }
    }
    .owned_books {
        display: flex;
        flex-direction: column;
        gap: .6rem;

        .title {
            display: flex;
            align-items: center;
            font: 500 1.5rem 'Roboto', sans-serif;
            cursor: pointer;
            color: #666699;
            @include respond('mobile') {
                font-size: 1.2rem;
            }
        }
        .owned_books_main {
            // height: 25rem;
            @include flex-container(row, '', start);
            gap: 1rem;
            flex-wrap: wrap;
            // background: #39c5bb;
            transition: all .2s ease-in-out;
            overflow-x: auto;
            // overflow-x: auto;
            @include respond('phone') {
                height: 20rem;
                max-width: 25rem;
                box-sizing: border-box;
                gap: .5rem;
                justify-content: space-between;
                &::after {
                    content: '';
                    flex: 1 ;
                }
            }
            &.folded {
                height: 0;
                // opacity: 0;
            }
        }
    }
}