.Modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #99999980;
    z-index: 9999;
    .modal_content {
        min-width: 20em;
        background: #fff;
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .modal_header {
            font-size: 1.2rem;
            // font-weight: bold;
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: .5rem 1rem;
            box-sizing: border-box;
            .close:hover {
                animation: rotate .3s linear 1;
            }
        }
        .modal_content {
            margin-bottom: 1rem;
            width: 100%;
        }
    }
}

// 旋转半圈的动画
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(90deg);
    }
}