@import './public.scss';
.App {
  height: 100%;
  width: 85vw;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background: $bg-app-primary;
  @include respond('mobile') {
    width: 100%;
  }
  @include respond('pad') {
    width: 100%;
  }

  main {
    width: 100%;
    height: calc(100vh - 20px);
    display: flex;
    // justify-content: center;
    align-items: center;
    @include respond('mobile') {
      flex-direction: column;
    }
  }
}