@import './theme.scss';
.App {
  height: 100%;
  width: 85vw;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background: $bg-app-primary;

  main {
    width: 100%;
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}